$font-stack: Helvetica, sans- +"serif";

//$size:

$primary-color: #333;

$light-font: #DCDCDC;

$link-color: #66CDAA;

$back-color: #404040;
$trans-color: #FAEBD7;
$head-color: #800000;
